* {
  background-color: #efefef;
}

.container {
  max-width: 400px;
  min-height: 450px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 15px 50px;
}

.balance {
  float: left;
  padding: 10px;
}

.balance-amount {
  margin-top: -18px;
  font-weight: 20px;
}

.expense-container {
  display: flex;
  justify-content: space-around;
  background-color: white;
  border-radius: 5px;
}

.expense-container p {
  background-color: white;
  padding: 10px;
  margin-top: 10px;
}

.expense-container .income {
  background-color: white;
  color: green;
}

.expense-container .expense {
  background-color: white;
  color: red;
}

.transaction-history {
  margin-top: 10px;
  padding: 10px;
}
.transaction-history h5 {
  font-size: 15px;
}

.trnsaction-list {
  margin: 0;
  padding: 0;
}

.btn-submit {
  background-color: blueviolet;
  color: white;
}
.btn-submit:hover {
  background-color: blueviolet;
  color: white;
}

.trnsaction-list > li {
  display: flex;
  justify-content: space-between;
  box-shadow: 0 0 10px gray;
  padding: 10px 15px;
  background-color: white;
  margin: 8px;
  border-radius: 4px;
}
.trnsaction-list span {
  background-color: white;
}

.transaction-form input {
  padding: 10px;
  margin: 5px;
}

.App {
  text-align: center;
}
